/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.mainnavbar{
  background-color: black;
}

.loginbutton{
  font-family: Futura, Trebuchet MS,Arial,sans-serif; 
  font-style: normal; 
  font-variant: normal;
  font-weight: bold !important;
  border-color: white !important;
  background-color: black !important;
  color: white !important;
  border-radius: 30px !important;
}

.loginbutton:hover{
  color: white !important;
  background-color: black !important;
}

.registerbutton{
  font-family: Futura, Trebuchet MS,Arial,sans-serif; 
  font-style: normal; 
  font-variant: normal;
  font-weight: bold !important;
  border-color: white !important;
  background-color: black !important;
  color: white !important;
  border-radius: 30px !important;
  font-size: 22px;
}

.registerbutton:hover{
  color: white !important;
  background-color: black !important;
}

.loggedinbutton{
  font-family: Futura, Trebuchet MS,Arial,sans-serif; 
  font-style: normal; 
  font-variant: normal;
  font-weight: bold !important;
  border-color: white !important;
  background-color: black !important;
  color: white !important;
  border-radius: 30px !important;
}

.loggedinbutton:hover{
  color: white !important;
  background-color: black !important;
}

.mr-auto, .mx-auto{
  float: right;
}
.logoAcc{
  width: 210px;
}

.navbar-light .navbar-toggler{
  border-color: white;
}

.navbar-toggler{
  background-color: white;
}

.textingform{
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 50px;
}

.sendButton{
  font-family: Futura, Trebuchet MS,Arial,sans-serif; 
  font-style: normal; 
  font-variant: normal;
  font-weight: bold !important;
  border-color: white !important;
  background-color: black !important;
  color: white !important;
  border-radius: 30px !important;
  padding: 0px 10px !important;
  font-size: 25px !important;
}

.formbody{
  background-color: white;
}

#formLabel{
  font-family: Futura, Trebuchet MS,Arial,sans-serif; 
  font-style: normal; 
  font-variant: normal;
  font-weight: bold !important;
}

#formBox{
  border-color: black;
}

.form-grouplogin{
  border-color: black;
  margin: 5px;
  width: 200px !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form-groupregister{
  text-align: center;
}

.form-control{
  margin: 10px 0px;
}

.loginButtonForm{
  margin-top: 10px;
}

.loginformheader{
  font-family: Futura, Trebuchet MS,Arial,sans-serif; 
  font-style: normal; 
  font-variant: normal;
  font-weight: bold !important;
  width: 200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 15px;
  text-align: center;
}

.loginbuttonform{
  font-family: Futura, Trebuchet MS,Arial,sans-serif; 
  font-style: normal; 
  font-variant: normal;
  font-weight: bold !important;
  border-color: white !important;
  background-color: black !important;
  color: white !important;
  border-radius: 30px !important;
  padding: 0px 10px !important;
  font-size: 25px !important;
  margin-top: 15px;
}

#modaltitle{
  font-family: Futura, Trebuchet MS,Arial,sans-serif; 
  font-style: normal; 
  font-variant: normal;
  font-weight: bold !important;
}

#modalbody{
  font-family: Futura, Trebuchet MS,Arial,sans-serif; 
  font-style: normal; 
  font-variant: normal;
}

#modalbutton{
  font-family: Futura, Trebuchet MS,Arial,sans-serif; 
  font-style: normal; 
  font-variant: normal;
  font-weight: bold !important;
  border-color: white !important;
  background-color: black !important;
  color: white !important;
  border-radius: 30px !important;
  padding: 0px 10px !important;
  font-size: 25px !important;
}

.registerformheader{
  font-family: Futura, Trebuchet MS,Arial,sans-serif; 
  font-style: normal; 
  font-variant: normal;
  font-weight: bold !important;
  width: 200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 15px;
  text-align: center;
}

.form-groupregister{
  border-color: black;
  margin: 5px;
  width: 200px !important;
  margin-left: auto;
  margin-right: auto;
}

.registerbuttonform{
  font-family: Futura, Trebuchet MS,Arial,sans-serif; 
  font-style: normal; 
  font-variant: normal;
  font-weight: bold !important;
  border-color: white !important;
  background-color: black !important;
  color: white !important;
  border-radius: 30px !important;
  padding: 0px 10px !important;
  font-size: 25px !important;
  margin-top: 15px;
}

#dashboardHeader{
  padding-top: 20px;
  padding-left: 50px;
}

#noMessages{
  text-align: center;
}

#numberList{
  padding-left: 50px;
  padding-top: 10px;
}

#passChangeCard{
  width:500px;
  margin: auto;
  margin-top: 20px;
}

#deleteButtons{
  margin: auto;
  text-align: right;
}

#settingsButtons{
  margin-top: 20px;
}


@media screen and (min-width: 320px) and (max-width: 767px){
  .logo, .logoAcc{
    padding-left: 0px;
    width: 190px;
    height: 40px;
  }
  .loginbutton{
    font-size: 25px !important;
    padding: 0px 31px !important;
    margin-bottom: 1px;
  }
  .loggedinbutton{
    font-size: 20px !important;
    padding: 0px 31px !important;
    margin-bottom: 1px;
    float: right;
  }
  .registerbutton{
    padding: 0px 12.5px;
    font-size: 25px;
    margin-top: 1px;
  }
  .textingform{
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 758px) and (max-width: 1023px){
  .logo, .logoAcc{
    padding-left: 50px;
    width: 310px;
    height: 50px;
  }
  .loginbutton, .loggedinbutton{
    font-size: 29px !important; 
    padding: 0px 10px !important;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1024px){
  .logo, .logoAcc{
    padding-left: 100px;
    width: 360px;
    height: 50px;
  }
  .loginbutton, .loggedinbutton{
    font-size: 29px !important; 
    padding: 0px 10px!important;
    margin-right: 10px;
  }
  .registerbutton{
    font-size: 29px !important;
    padding: 0px 10px !important;
    margin-right: 50px;
  }
}